<footer>
  <a class="btn btn-block btn-social btn-github", href="https://github.com/StebneRuslan" onclick="_gaq.push(['_trackEvent', 'btn-social', 'click', 'btn-github']);">
    <span class="fa fa-github"></span> Sign in with GitHub
  </a>
</footer>
